/*
 * Custom colors and color mapping setup
 */

// $black: #000;
// $white: #fff;
// $grey-darker: #111;
// $grey-dark: #333;
// $grey: #999;
// $grey-light: #ccc;
// $grey-lighter: #f5f5f5;
// $gold: #ac955f;

/**
* Base colors
*/
$white: #fff;
$black: #000;
$grey: #8A8A8A;
// .u-bg-color--color
$colors: (
    black: $black,
    white: $white
);

/**
* Colors
*/
$primary: #3B5998; //SafeToNet Blue
$secondary: #1AA8A8; //SafeTonet Teal
$tertiary: #00264F; //SafeTonet Dark Blue


/**
* Colour Palette
* @useage: palette(primary, base);
*/
$palettes: (
   bw: (
      white: $white,
      black: $black
   ),
   greys: (
      base: $grey, 
      light: lighten($grey, 25%),
      dark: darken($grey, 25%)
   ),
   primary: ( 
      base: $primary,
      light: lighten($primary, 25%),
      dark: darken($primary, 25%),
      ),
   secondary: ( 
      base: $secondary,
      light: lighten($secondary, 25%),
      dark: darken($secondary, 25%),
      ),
   tertiary: (
      base: $tertiary,
      light: lighten($tertiary, 25%),
      dark: darken($tertiary, 25%),
      )
   );