/**
* Spacing
*/
$spacing--x-tiny: .5rem;
$spacing--tiny: 1rem;
$spacing--x-small: 1.5rem;
$spacing--small: 2rem;
$spacing--x-medium: 2.5rem;
$spacing--medium: 3rem;
$spacing--x-large: 3.5rem;
$spacing--large: 4rem;
$spacing--large-x: 5rem;
$spacing--large-xx: 6rem;
$spacing--large-xxx: 7rem;
$spacing--large-xxxx: 8rem;
$spacing--large-xxxxx: 9rem;
$spacing--jumbo: 10rem;