/*
 * Button utility
 */

.u-button, input[type="submit"] {
    cursor: pointer;
    user-select: none;
    background-color: palette(quaternary, base);
    color: palette(bw, white);
    display: inline-block;
    text-transform: uppercase;
    font-family: font-family(primary, medium);
    padding: $spacing--small $spacing--large-x;
    @include set-font-size(1.2rem, 1.4rem, 1.4rem, 1.4rem);
    line-height: 1.25;
    border-radius: 50px;
    position: relative;

    &:focus {
        outline: 0;
    }

    &--disabled {
        cursor: not-allowed;

        &:hover {
            cursor: not-allowed;
        }
    }
    
}

.u-button--small {
    padding: $spacing--tiny $spacing--small;
}

input[type="submit"] {
    padding: $spacing--x-small $spacing--medium;
}