.u-icon {
    display: inline-block;
    fill: currentColor;
    height: 1em;
    pointer-events: none;
    position: relative;
    stroke-width: 0;
    stroke: currentColor;
    top: -.1em;
    vertical-align: middle;
    width: 1em;
}