.c-additional-text {
    //color: palette(primary, base);
    font-family: font-family(primary, book);
    margin-bottom: $spacing--medium;
    
    //Tablet and up
    // @include media('>tablet') {
        //     column-count: 2;
        // }
        
        p {
            margin-bottom: $spacing--medium;
            @include set-font-size(1.8rem, 1.8rem, 1.8rem, 1.8rem);
            line-height: 1.75;

            a {
                color: currentColor;
                text-decoration: underline;
            }
    }

    img {
        max-width: 100%;
        height: auto;
    }

    ol {
        list-style: none;
        counter-reset: my-awesome-counter;
      }
      ol li {
        counter-increment: my-awesome-counter;
        margin-bottom: $spacing--small;
      }
      ol li::before {
        content: counter(my-awesome-counter) ". ";
        color: $black;
        font-weight: bold;
      }
      

}