.c-contact {

    margin-bottom: $spacing--small;
    line-height: 1.75;

    .u-button {
        width: 90%;
        text-align: center;
    }

    @include media('>phone') {
        lost-column: 12/12;

        // &:nth-of-type(2) {
        //     lost-column: 12/12;
        // }

    }

    @include media('>tablet') {
        lost-column: 3/12 0 30px;

        &:nth-of-type(2) {
            lost-column: 5/12;
        }

        &:nth-of-type(3) {
            lost-column: 4/12;
            // display: flex;
            // justify-content: center;
            // align-items: center;
        }

    }

    p {
        margin-bottom: $spacing--medium;
    }

    //Title
    &__title {
        font-family: font-family(primary, medium);
        color: palette(primary, base);
    }

}