.gform_wrapper {
    width: 100%;

    ul.gform_fields li.gfield{
        padding: 0 !important;
        margin-bottom: $spacing--medium;
    }

    .ginput_container {
        //None
    }

    input:not([type=radio]):not([type=checkbox]):not([type=submit]):not([type=button]):not([type=image]):not([type=file]) {
        width: 100%;
    }

    label {
        text-transform: uppercase;
        font-family: font-family(primary, regular);
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        color: palette(greys, dark);
        display: block;
    }

    .gfield_required {
        color: $error;
    }

    //Radio
    .gfield_radio {

        &::after {
            content: "";
            clear: both;
            display: table;
        }

        li {

            label {
                text-transform: initial;
            }

            @include media('>phone') {
                width: 50%;
                float: left;
            }

        }
    }

    input,
    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea  {
        font-family: font-family(primary, regular);
        border: 0;
        border-bottom: 1px solid palette(greys, x-light);
        line-height: 1.8;
        color: palette(greys, dark);
        @include set-font-size(1.8rem, 1.8rem, 1.8rem, 1.8rem);
        transition: all ease-in-out 300ms;

        &::-webkit-input-placeholder {
            color: palette(greys, light);
            transition: all ease-in-out 500ms;
            @include set-font-size(1.6rem, 1.6rem, 1.6rem, 1.6rem);
        }
        
        &:focus:not(.button) {
            border-bottom: 1px solid palette(greys, base);
            @include set-font-size(2.8rem, 2.8rem, 2.8rem, 2.8rem);

            &::-webkit-input-placeholder {
				text-indent: -100%;
			}
        }
    }

    textarea  {
        height: 90px!important;
    }

    select {
        font-family: font-family(primary, regular);
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        line-height: 1;
        border: 0;
        border-bottom: 1px solid palette(greys, x-light);
        background: transparent;
        background: url(img/chev.png) no-repeat right center;
        height: 40px;
        width: 100%;
    }

    $dimentions: 18px;

    .gfield_html {
        @include set-font-size(1.5rem, 1.5rem, 1.5rem, 1.5rem);
        a {
            color: currentColor;
            text-decoration: underline;
        }
    }

    .gfield_checkbox {
		li {
			position: relative;
            padding-left: $spacing--x-medium;

			label {

                a {
                    color: currentColor;
                    text-decoration: underline;
                }
             
				&:before {
					content: '';
					display: block;
				    position: absolute;
                    width: 5px;
                    height: 11px;
				    border: solid 1px palette(quaternary, base);
				    border-width: 0 3px 3px 0;
			    	left: 6px;
					top: 4px;
					transform: rotate(45deg);
					opacity:0;
					z-index:1;
					transition:all 100ms;
                }

				&:after {
					content: '';
                    background: palette(greys, light);
					width: $dimentions;
					height: $dimentions;
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					border-radius: 3px;
					z-index: 0;
                }
                
			}
		}

	}

	input[type="checkbox"] {
		opacity:0;
		outline: none;
		z-index: 100;
        width: $dimentions;
        height: $dimentions;
		top: 0;
		left: 0;
		position: absolute;
		appearance: none;
        cursor: pointer;
        
    + label {
        cursor: pointer;
    }

		&:checked + label {

            &:before {
				opacity:1;
				top: 3px;
            }

            &:after {
                background: palette(primary, base);
            }
            
		}
	}
 

}


.validation_message {
    color: $error;
    @include set-font-size(1.2rem, 1.2rem, 1.2rem, 1.2rem);
    padding-top: $spacing--x-tiny;
}

.gform_confirmation_wrapper {
    padding: 30px;
    background-color: lighten($success, 60%);
    width: 100%;
    text-align: center;
}

.gform_confirmation_message {
    color: $success;
}

//Checkbox
.gform_wrapper .gfield_checkbox {
    label {
        text-transform: initial;
    }
}