/** 
* Hero
*/
.c-hero {
   color: palette(bw, white);
   height: 100vh;
   position: relative;
   background-position: center bottom !important;

   &::before {
       content: '';
       display: block;
       //background-color: rgba(palette(bw, black), .3);
       background-image: linear-gradient(to bottom, rgba(tan, 1), rgba(white, 0));
       mix-blend-mode: color-burn;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
   }

   //Content
   &__content {

      //Large title
      &--large {
         @include set-font-size(2.0rem, 2.0rem, 2.0rem, 2.0rem);
         line-height: 1.5;
      }

      p {
         margin-bottom: $spacing--small;
      }

   }

   //Scroll Icon
   &__scroll-icon {
       text-align: center;
       position: absolute;
       width: 100%;
       bottom: 200px;
   }


}


//Store icons
.store-icons {

   &__href{
      display: inline-block;
      margin-right: $spacing--medium;
   }
   
   &__icon {
      height: 50px;
      width: auto;
   }

}


//Hero curve
.hero-curve {
   position: absolute;
   bottom: 0;
   height: 140px;
   left: 0;
   right: 0;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom center;
   z-index: 0;

}