/** 
* Hero
*/

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

.c-hero {
   color: palette(bw, white);
   position: relative;
   background-position: center bottom !important;
   padding: 70px 0;
   
   @include media('>tablet') {
        padding: 120px 0;
        height: 95vh;
        display: block;    
    }

   &::before {
        content: '';
        display: block;
        background-color: rgba(palette(bw, black), .4);
        //background-image: linear-gradient(to bottom, rgba(tan, 1), rgba(white, 0));
        //background: linear-gradient(-45deg, $primary, tan, black, grey);
        background-size: 400% 400%;
        animation: Gradient 15s ease infinite;
        //mix-blend-mode: overlay;
        //mix-blend-mode: color-burn;
        opacity: .8;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
   }

   //Content
   &__content {

      //Large title
      &--large {
         @include set-font-size(1.8rem, 2.0rem, 2.0rem, 2.0rem);
         line-height: 1.35;

         @include media('>tablet') {
            line-height: 1.5;
         }

      }

      p {
         margin-bottom: $spacing--small;
      }

   }

   //Scroll Icon
   &__scroll-icon {
       text-align: center;
       position: absolute;
       width: 100%;
       bottom: 200px;
   }


}


//Store icons
.store-icons {
  position: relative;
  z-index: 1;

   &__href{
      display: inline-block;
      margin-right: $spacing--tiny;

      @include media('>tablet') {
        margin-right: $spacing--small;
        }

   }
   
   &__icon {
        height: 45px;
        width: auto;

      @include media('>tablet') {
        height: 50px;
        }

   }

}


//Hero curve
.hero-curve {
   position: absolute;
   bottom: 0;
   height: 30px;
   left: 0;
   right: 0;
   background-repeat: no-repeat;
   background-size: contain;
   background-position: bottom center;
   z-index: 0;

   @include media('>phone') {
    height: 100px;
    background-size: 100%;
    bottom: -5px;
   }
}