// scss-lint:disable NestingDepth

.c-site-nav {
    font-family: font-family(primary, medium);
    @include set-font-size(1.4rem, 1.4rem, 1.4rem, 1.4rem);
    
    .menu-item {
        display: inline-block;
        margin-left: $spacing--small;
        text-transform: uppercase;
        
        a {
            padding: $spacing--small 0;
            color:  palette(bw, white);
            display: inline-block;
            position: relative;
            transition: 0.3s all ease;

            &:after {
                content: "";
                position: absolute;
                right: 0;
                left: 50%;
                bottom: 15px;
                display: block;
                width: 0;
                height: 2px;
                transition: 0.3s width ease;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                background-color: palette(quaternary, base);
            }

            &:hover {
                text-decoration: none;
                color: palette(quaternary, base);
                
                &:after {
                    width: 50%;
                }
            }

        }

        //Active menu items
        &.current-page-ancestor a {
            text-decoration: none;
            color: palette(quaternary, base);
        }

        &.current_page_item a {
            text-decoration: none;
            color: palette(quaternary, base);

            &:after {
                width: 50%;
            }

        }
        
    }

    //Subnavigation
    &--subnavigation {
        text-align: right;
        font-family: font-family(primary, book);

        .menu-item {
            a {
                color:  palette(greys, base);
            }
        }
    }
}

//Subnavigation Wrapper
.subnavigation-wrapper {
    background-color: palette(greys, xx-light);
    margin-bottom: -1rem;
    position: relative;
    margin: 0 -30px;
    display: none;

    @include media('>tablet') {
        display: block;

        &::before,
        &::after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 9600px;
            right: 100%;
            background-color: palette(greys, xx-light);
        }
    
        &::after { 
            left: 100%;
          }

    }
}