.c-site-title {

    &__icon {
        width: 163px;
        height: 25px;
    }

    &__link {
        font-size: $text-large;
        font-weight: $weight-bold;
        line-height: 1.2;
        text-transform: uppercase;
    }
}
