/** 
* Subpage Hero
*/
.c-subpage-hero {
    // color: palette(bw, white);
    background-color: palette(greys, xx-light);
    color: palette(primary, base);
    padding: 180px 0 120px;
    //padding: 160px 0 60px;
    position: relative;

   //Content
   &__content {

      //Large title
      &--large {
         @include set-font-size(2.0rem, 2.0rem, 2.0rem, 2.0rem);
         line-height: 1.5;
      }

   }

    p {
        margin-bottom: $spacing--small;
        @include set-font-size(2.4rem, 2.4rem, 2.4rem, 2.4rem);
        color: lighten(palette(greys, dark), 15%);

        a {
            color: currentColor;
            text-decoration: underline;
        }

    }


}
