/*
 * Apply a default from small and medium screens upwards
 */

.u-l-vertical-padding {
    padding-top: $spacing--large;
    padding-bottom: $spacing--large;

    @include breakpoint($medium) {
        padding-top: $spacing--jumbo;
        padding-bottom: $spacing--jumbo;
    }

    //Small
    &--small {
        padding-top: $spacing--medium;
        padding-bottom: $spacing--medium;

        @include breakpoint($medium) {
            padding-top: $spacing--large;
            padding-bottom: $spacing--large;
        }
    }
}
