.l-site-header {
    margin: 0;
    margin-bottom: 2rem;
    overflow: hidden;
    //padding: 2rem 0;
    width: 100%;

    @include breakpoint($small) {
        align-items: center;
        lost-flex-container: row;
    }

    &__wrap {
        background: rgba($black, .25);
    }

    &__title {
        //margin-bottom: 1rem;

        @include breakpoint($small) {
            lost-column: 1/4;
            margin-bottom: 0;
        }
    }

    &__nav {
        margin-bottom: 1rem;

        @include breakpoint($small) {
            lost-column: 3/4;
            margin-bottom: 0;
            text-align: right;
        }
    }

    &__social {
        @include breakpoint($small) {
            lost-column: 1/4;
        }
    }
}
